<p class="title-option" >Gender</p>
<ul class="list-option">
    <li class="option"> <button> <img src="assets/img/male.png" style="opacity: 100%;" ></button>  </li>
    <li class="option"> <button> <img src="assets/img/female.png"></button>  </li>  
</ul>
<p class="title-option" >Posture</p>
<ul class="list-option">
    <li class="option"> <button> <img src="assets/img/standing.png" style="opacity: 100%;"></button>  </li>
    <li class="option"> <button> <img src="assets/img/runing.png"></button>  </li>  
    <li class="option"> <button> <img src="assets/img/cycling.png"></button>  </li>  
    <li class="option"> <button> <img src="assets/img/table.png"></button>  </li>  
</ul>
<p class="title-option" >Style</p>
<ul class="list-option">
    <li class="option"> <button> <img src="assets/img/colorfull.png" style="opacity: 100%;"></button>  </li>
    <li class="option"> <button> <img src="assets/img/duotone.png"></button>  </li>  
</ul>